/* ******************** Fonts ******************** */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/raleway-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Raleway Black";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(fonts/raleway-900.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/roboto-mono-400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/pt-sans-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/pt-sans-italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/pt-sans-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/pt-sans-bold-italic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



:root {
  --color-primary: #f00;
  --color-secondary: #e7762e;
  --color-text: #202225;
 --color-contrast: #eee;
 --color-bg-opacity: rgba(255, 255, 255, 0.85);
 --color-link: #08c;
 --font-logo: "Raleway", sans-serif;
 --font-logo-black: "Raleway Black", sans-serif; 
 --color-bg: #fcfcfc;
 --container-lg: 75em;
 --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
 --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
 --step-2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
 --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
 --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
 --main-top: 2rem;
 --main-bottom: 2rem;
 --gradient-primary: linear-gradient( 45deg, #f00, #f00 );
 --container-sm: 48em;
 
}






/* ********************* Amimate Details ***************** */
@media screen and (min-width: 48em) {
  [id] {
    scroll-margin-top: 4rem;
  }
}



/* ******************** Social Media ******************** */

.social-media {
  --color-hover-social-media: var(--color-text);
}

.social-media a {
  border-radius: 50%;
  width: var(--step-5);
  height: var(--step-5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-contrast);
}

.social-media a:hover {
  color: white;
  background: var(--color-hover-social-media);
  animation: bounce 0.4s linear;
}

.social-media svg {
  width: var(--step-1);
  height: var(--step-1);
}

@media screen and (min-width: 62em) {
  .social-media a {
    width: var(--step-3);
    height: var(--step-3);
  }

  .social-media svg {
    width: var(--step--1);
    height: var(--step--1);
  }
}

/* ******************** Animations ******************** */

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 0.4s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1.5s linear infinite;
}

@keyframes scroll-image {
  0% {
    opacity: 0;
    scale: 25%;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
}


/* ******************** Reset CSS ******************** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-primary);
  font-size: clamp(1rem, calc(1rem + 0.5vw), 1.25rem);
  line-height: calc(1em + 0.5rem);
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-link);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--color-secondary);
}

.border-radius-1 {
  border-radius: 1rem;
}


blockquote {
  padding: 0.5rem 1.5rem;
  border-left: medium solid var(--color-primary);
  opacity: 0.75;
  background-color: var(--color-contrast);
}

blockquote p,
figure {
  margin: 0px;
}

code[class*="language-"],
pre[class*="language-"] {
  border-radius: 0.5rem;
  margin-bottom: var(--step-2);
  font-family: var(--font-code);
  font-size: var(--step--1);
}


hr {
  border: thin solid var(--color-contrast);
}

.icons a:hover {
  animation: pulse 1.5s linear infinite;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

img:not(.logo img) {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: scroll-image;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.avatar {
  border-radius: 50%;
  width: 8rem;
  height: 10rem;
}

.container-lg, .container-md, .container-sm {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--step-1);
  padding-left: var(--step-1);
  width: var(--container-sm);
  max-width: 95%;
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.2;
}

.d-sm-block {
  display: block;
}

.font-logo {
  font-family: var(--font-logo);
}

.font-logo-black {
  font-family: var(--font-logo-black);
}

.logo {
  width: 10%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo:hover {
  animation: pulse 1.5s linear infinite;
}

hr {
  border: thin solid var(--color-contrast);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--step-3);
  margin-bottom: var(--step-3);
  font-weight: 700;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1{
  font-size: clamp(2rem, 6vw, 3.5rem);
}

h6, small {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.hero-image {
  --bg-hero: url("../public/home.jpg");
  position: relative;
  z-index: 998;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bg-hero);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image > div {
  width: inherit;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-logo);
  background-color: var(--color-bg-opacity);
  color: var(--color-text);
}

main > .hero-image:first-child {
  margin-top: calc(-1 * var(--main-top));
}


.just-print, .just-print-inline {
  display: none;
}

.logo img {
  padding: 0.25rem;
  width: auto;
  height: 3.5rem;
}



.alias {
  margin: 0;
  display: none;
  font-family: var(--font-logo-black);
  color: var(--color-text);
}

h2 {
  margin-top: var(--step-3);
  margin-bottom: var(--step-3);
  font-weight: 700;
  line-height: 1.2;
  overflow-wrap: break-word;
  text-wrap: balance;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  max-width: var(--container-lg);
  height: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
}

.header { 
  position: fixed; 
  bottom: 0;
  left: 0;
  z-index: 999;
  border-top: thin solid var(--color-contrast);
  width: 100%;
  background-color: var(--color-bg);
}




main {
  margin-top: var(--main-top);
  margin-bottom: calc(2 * var(--main-bottom));
}


.menu, .icons {
  width: 90%;
  height: 2rem;
  display: flex;
  justify-content: space-around;  
  align-items: center;
}



.menu a, .icons a, .icons button {
  font-family: var(--font-logo);
  font-size: var(--step-0);
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease-in;  
}

.menu a.active, .menu a:hover {
  color: var(--color-secondary);
  box-shadow: inset 0 -2px 0 var(--color-secondary);
}

p, ul, blockquote, table {
  margin-top: 0;
  margin-bottom: var(--step-3);
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
  hyphens: auto;
}


.text-ms-center {
  text-align: center;
}

.title-border::after{
  content: "";
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  height: 0.125rem;
  display: block;
  background-color: var(--color-primary);
}

.text-gradient-primary {
  background-image: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.text-primary {
  color: var(--color-primary);
}

.thumbnail {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

/*----------------- @media screen -------------------*/




@media screen and (min-width: 48em){
  .header-container {
    flex-direction: row;
    flex-wrap: wrap;
  }  
} 

@media screen and (min-width: 62em){
  .header {
    position: sticky;
    top: 0;
    border-top: 0;
    border-bottom: thin solid var(--color-contrast);
  }  
}

@media screen and (min-width: 62em){
  .header-container {
  padding: 0 1rem;  
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  }  
}

@media screen and (min-width: 48em){
  .menu a {
    font-family: var(--font-logo-black);
  }  
} 

@media screen and (min-width: 62em){
  .menu a, .icons a, .icons button {
    margin: 0 var(--step-2);
  }  
}

@media screen and (min-width: 62em){
  .logo {
    width: auto;    
  }  
}

@media screen and (min-width: 62em){
  .alias {
    display: block;
  }  
}

@media screen and (min-width: 48em){
  .menu, .icons {
    width: 45%;
    height: 4rem;
  }  
}



@media screen and (min-width: 62em){
  .menu, .icons {
    width: auto;
    justify-content: space-evenly;
  }  
}


@media screen and (min-width: 62em){
  main {
    margin-bottom: 0;    
  }  
}

@media screen and (min-width: 62em){
  .social-media a {
    width: var(--step-3);
    height: var(--step-3);    
  }  
}

/* ******************** CardItem ******************** */

.card-list-item {
  border: thin solid transparent;
  border-bottom-color: var(--color-contrast);
  display: block;
  font-size: var(--step-0);
  font-weight: 900;
  text-decoration: none;
  color: var(--color-text);
  border-width: thin;
  border-style: solid;
  border-color: transparent transparent transparent;
  border-image: initial;
  text-decoration: none;
}

.card-list-item:hover {
  color: var(--color-text);
  background-color: var(--color-contrast);
}

.card-list-item figure {  
  width: 100%;
  height: 100%;
  display: flex;
  padding: calc(var(--step-0) * 0.5);
}

.card-list-item figcaption {
  margin-left: var(--step-2);
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-list-item img {
  width: var(--step-5);
  height: var(--step-5);
}

.card-list-item span,
.card-list-item small {
  width: 100%;
}

.card-list-item small {
  font-weight: 400;
}

@media screen and (min-width: 48em) {
  .card-list-item figure {
    align-items: center;
  }
}


/* ******************** CV Print ******************** */
.just-print,
.just-print-inline {
  display: none;
}

@media print {
  @page {
    size: A4;
  }

  body {
    color: #000;
    background-color: #fff;
  }

  img:not(.logo img) {
    animation: none;
  }

  li.just-print {
    display: list-item;
  }

  .just-print {
    display: block;
  }

  .just-print-line {
    display: line;
  }

  .no-print {
    display: none;
  }

  .page-break {
    page-break-before: always;
  }

  .print-left {
    text-align: left;
  }

  .header {
    display: none;
  }

  .hello h1 {
    font-size: 24pt;
  }

  .hello h2 {
    font-size: 16pt;
  }

  .hello h3 {
    font-size: 12pt;
  }

  .hello li,
  .hello p,
  .hello .h3,
  .card-list-item {
    margin: 0 0 4pt;
    font-size: 8pt;
    color: #000;
  }

  .hello hr {
    display: none;
  }

  .i-am {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .i-am > * {
    width: auto;
  }

  .i-am img {
    max-width: 150px;
  }

  .card-list-item img {
    width: var(--step-1);
    height: var(--step-1);
  }

  /* Para que no se corten las imágenes de las cards al imprimir, colocar las necesarias */
  /* #projects .card-list-item:nth-of-type(13) {
    page-break-before: always;
  }

  #schools .card-list-item:nth-of-type(8) {
    page-break-before: always;
  } */
}
