*,
*:before,
*:after {
  box-sizing: content-box;
}

/* flexbox gird */
.home .row{
    padding-bottom: 0;
    position: relative;
}

.home{
    overflow-x: hidden;
    overflow-x: clip;
    padding: 96px 0 2px;
}