
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.align-items-sm-center {
    align-items: center;
}

.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}

.d-sm-block {
    display: block;
}

.d-sm-flex {
    display: flex;
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1.2;
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    line-height: 1.2;
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    line-height: 1.2;
}

.d-sm-none {
    display: none;
}

.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

.h6 {
    font-size: 1rem;
}

.justify-content-sm-center {
    justify-content: center;
}

.justify-content-sm-end {
  justify-content: flex-end;
}

.justify-content-sm-around {
    justify-content: space-around;
}

.mt-sm-0 {
    margin-top: 0;
}

.mx-sm-auto {
    margin-right: auto;
    margin-left: auto;
}

.my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-sm-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.py-sm-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.text-sm-center {
    text-align: center;
}

.text-sm-left {
    text-align: left;
}

.text-sm-right{
    text-align: right;
}

.w-sm-100 {
    width: 100%;
}

/* ---------------- @media -------------------- */

@media (min-width: 62em){
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media (min-width: 62em){
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}



@media (min-width: 62em){
    .col-lg-9 {
        flex: 0 0 auto; 
        width: 75%;
    }
}

@media (min-width: 62em){
    .order-lg-first {
        order: -1;
    }
}

@media (min-width: 62em){
    .mt-lg-4 {
        margin-top: 1.5rem;
    }
    
}

@media (min-width: 62em){
    .d-lg-block {
        display: block;
    }
    
}

@media (min-width: 48em){
    .mx-md-auto {
        margin-right: auto;
        margin-left: auto;
    }
    
}

@media (min-width: 48em){
    .w-md-70 {
        width: 70%;
    }
    
}

@media (min-width: 48em){
    .align-items-md-center {
        align-items: center;
    }
    
}
@media (min-width: 48em){
    .justify-content-md-center {
        justify-content: center;
    }
    
}

@media (min-width: 48em){
    .order-md-1 {
        order: 1;
    }
    
}
@media (min-width: 48em){
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    
}